In [26]:
from scipy.stats import entropy
import pandas as pd
import numpy as np
import malaya_speech
import IPython.display as ipd

In [27]:
p1 = 'submit_valid_acc_0.9125_後面接svc排行榜0.963955516.csv'
p2 = 'submit_valid_acc_0.9333333333333333_後面接logstic_排行榜0.9662309294.csv'
p3 = 'submit_valid_acc_0.9111111111111111_這個在分群上分的蠻好的_排行榜0.9683586426.csv'
p4 = 'senet20_20210605_random_state529_validacc_0.9333333333333333_排行榜0.9646076361.csv'

In [28]:
df1 = pd.read_csv(p1)
df2 = pd.read_csv(p2)
df3 = pd.read_csv(p3)
df4 = pd.read_csv(p4)

new_df = df1.copy()

new_df.iloc[:,1:] = df1.iloc[:,1:]+df2.iloc[:,1:]+df3.iloc[:,1:]+df4.iloc[:,1:]

new_df.iloc[:,1:] /= 4

In [29]:
new_df

,Filename,Barking,Howling,Crying,COSmoke,GlassBreaking,Other
0,public_00001,0.008631,0.001244,0.001345,0.004811,0.604607,0.379361
1,public_00002,0.090009,0.000864,0.055968,0.122986,0.028053,0.702120
2,public_00003,0.934050,0.004085,0.004533,0.001740,0.001519,0.054071
3,public_00004,0.034554,0.001025,0.015831,0.014100,0.179604,0.754886
4,public_00005,0.271228,0.025495,0.612091,0.009065,0.012176,0.069945
...,...,...,...,...,...,...,...
29995,private_19996,0.166614,0.166614,0.166614,0.166614,0.166614,0.166931
29996,private_19997,0.166614,0.166614,0.166614,0.166614,0.166614,0.166931
29997,private_19998,0.166614,0.166614,0.166614,0.166614,0.166614,0.166931
29998,private_19999,0.166614,0.166614,0.166614,0.166614,0.166614,0.166931
29999,private_20000,0.166614,0.166614,0.166614,0.166614,0.166614,0.166931

In [30]:
new_df.sum(axis=1)

0        1.0
1        1.0
2        1.0
3        1.0
4        1.0
        ...
29995    1.0
29996    1.0
29997    1.0
29998    1.0
29999    1.0
Length: 30000, dtype: float64

In [31]:
new_df.to_csv('Voteing_V7_drirect_voteing.csv',index=False)