In [60]:
import pandas as pd

In [61]:
submit = pd.read_csv('submit_2021_0602_1204_acc_0.7416.csv')

In [62]:
submit

,Filename,Barking,Howling,Crying,COSmoke,GlassBreaking,Other
0,public_00001,2.173641e-07,1.934015e-17,2.854990e-15,1.018135e-12,8.518518e-11,9.999998e-01
1,public_00002,1.221360e-03,4.186358e-08,1.357289e-06,1.568542e-06,3.225823e-06,9.987724e-01
2,public_00003,1.000000e+00,3.122495e-14,2.257736e-28,5.806517e-28,1.043876e-18,1.058724e-14
3,public_00004,9.528698e-07,6.121301e-14,5.780325e-12,5.287007e-10,1.606268e-09,9.999990e-01
4,public_00005,5.949846e-07,1.730112e-04,9.998081e-01,3.158937e-06,1.734915e-09,1.510453e-05
...,...,...,...,...,...,...,...
29995,private_19996,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.670000e-01
29996,private_19997,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.670000e-01
29997,private_19998,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.670000e-01
29998,private_19999,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.670000e-01
29999,private_20000,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.670000e-01

In [63]:
human_label_df = pd.read_csv('public_test/meta_test.csv')
print(human_label_df.shape)
human_label_df

(10000, 3)

          Filename  Label   Remark
0     public_00001    5.0     汽車喇叭
1     public_00002    5.0   好像手機鈴聲
2     public_00003    0.0      狗吠叫
3     public_00004    5.0     不明雜音
4     public_00005    0.0      狗吠叫
...            ...    ...      ...
9995  public_09996    3.0  不排除是救護車
9996  public_09997    2.0   Crying
9997  public_09998    1.0  Howling
9998  public_09999    3.0  不排除是救護車
9999  public_10000    3.0  不排除是救護車

[10000 rows x 3 columns]

In [64]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np
human_label_df = human_label_df[human_label_df.Label >= 0]
have_label_idx = human_label_df.index.tolist() 
no_label_idx = list(set(submit.index) - set(have_label_idx))
print(len(have_label_idx))
print(human_label_df.shape)
human_label_df

558
(558, 3)

          Filename  Label   Remark
0     public_00001    5.0     汽車喇叭
1     public_00002    5.0   好像手機鈴聲
2     public_00003    0.0      狗吠叫
3     public_00004    5.0     不明雜音
4     public_00005    0.0      狗吠叫
...            ...    ...      ...
9995  public_09996    3.0  不排除是救護車
9996  public_09997    2.0   Crying
9997  public_09998    1.0  Howling
9998  public_09999    3.0  不排除是救護車
9999  public_10000    3.0  不排除是救護車

[558 rows x 3 columns]

In [65]:
enc = OneHotEncoder()
enc.fit(human_label_df[['Label']])
new_value = enc.transform(human_label_df[['Label']]).toarray()
human_label_df = submit.copy()
human_label_df.loc[have_label_idx,submit.columns[1:]] = new_value
human_label_df

            Filename  Barking  Howling  Crying  COSmoke  GlassBreaking  Other
0       public_00001   0.0000   0.0000  0.0000   0.0000         0.0000  1.000
1       public_00002   0.0000   0.0000  0.0000   0.0000         0.0000  1.000
2       public_00003   1.0000   0.0000  0.0000   0.0000         0.0000  0.000
3       public_00004   0.0000   0.0000  0.0000   0.0000         0.0000  1.000
4       public_00005   1.0000   0.0000  0.0000   0.0000         0.0000  0.000
...              ...      ...      ...     ...      ...            ...    ...
29995  private_19996   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
29996  private_19997   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
29997  private_19998   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
29998  private_19999   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
29999  private_20000   0.1666   0.1666  0.1666   0.1666         0.1666  0.167

[30000 rows x 7 columns]

In [66]:
human_label_df.loc[no_label_idx]

,Filename,Barking,Howling,Crying,COSmoke,GlassBreaking,Other
57,public_00058,9.987146e-01,1.144473e-03,9.652626e-08,3.569323e-08,3.928859e-06,1.369260e-04
58,public_00059,1.042697e-08,1.000000e+00,4.921513e-12,3.629830e-20,9.006834e-21,1.822414e-16
59,public_00060,3.266182e-09,2.849793e-05,9.999714e-01,1.211023e-08,1.082524e-12,9.085485e-08
60,public_00061,1.031425e-07,8.903276e-17,1.859487e-14,4.058121e-12,4.342783e-11,9.999999e-01
61,public_00062,3.788925e-04,2.042501e-14,1.247441e-16,1.073481e-14,9.996207e-01,2.980420e-07
...,...,...,...,...,...,...,...
29995,private_19996,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.670000e-01
29996,private_19997,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.670000e-01
29997,private_19998,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.670000e-01
29998,private_19999,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.670000e-01
29999,private_20000,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.666000e-01,1.670000e-01

In [67]:
human_label_df.to_csv('submit_2021_0602_1204_acc_0.7416_with_humal_label.csv',index=False)