In [1]:
import pandas as pd

# 範例檔案

In [2]:
sample_submit = pd.read_csv('sample_submission.csv')
sample_submit

            Filename  Barking  Howling  Crying  COSmoke  GlassBreaking  Other
0       public_00001   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
1       public_00002   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
2       public_00003   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
3       public_00004   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
4       public_00005   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
...              ...      ...      ...     ...      ...            ...    ...
29995  private_19996   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
29996  private_19997   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
29997  private_19998   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
29998  private_19999   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
29999  private_20000   0.1666   0.1666  0.1666   0.1666         0.1666  0.167

[30000 rows x 7 columns]

# 把預測結果跟範例檔案做合併

In [3]:
sample_submit.iloc[:10000,:] = pd.read_csv('submit.csv',index_col=0) 
sample_submit

,Filename,Barking,Howling,Crying,COSmoke,GlassBreaking,Other
0,public_00001,0.494176,0.288863,0.108992,1.394298e-02,3.884348e-02,5.518214e-02
1,public_00002,0.001084,0.000236,0.002599,1.057227e-03,9.456665e-04,9.940777e-01
2,public_00003,0.004275,0.000327,0.006856,1.098748e-03,9.296972e-01,5.774512e-02
3,public_00004,0.393445,0.204476,0.100617,3.412008e-02,1.827840e-01,8.455727e-02
4,public_00005,0.280247,0.719012,0.000741,3.555825e-16,1.770671e-07,3.723472e-17
...,...,...,...,...,...,...,...
29995,private_19996,0.166600,0.166600,0.166600,1.666000e-01,1.666000e-01,1.670000e-01
29996,private_19997,0.166600,0.166600,0.166600,1.666000e-01,1.666000e-01,1.670000e-01
29997,private_19998,0.166600,0.166600,0.166600,1.666000e-01,1.666000e-01,1.670000e-01
29998,private_19999,0.166600,0.166600,0.166600,1.666000e-01,1.666000e-01,1.670000e-01
29999,private_20000,0.166600,0.166600,0.166600,1.666000e-01,1.666000e-01,1.670000e-01

# 保存匯出

In [4]:
sample_submit.to_csv('submit.csv',index=False)