In [3]:
import pandas as pd

# 範例檔案

In [4]:
sample_submit = pd.read_csv('sample_submission.csv')
sample_submit

            Filename  Barking  Howling  Crying  COSmoke  GlassBreaking  Other
0       public_00001   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
1       public_00002   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
2       public_00003   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
3       public_00004   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
4       public_00005   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
...              ...      ...      ...     ...      ...            ...    ...
29995  private_19996   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
29996  private_19997   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
29997  private_19998   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
29998  private_19999   0.1666   0.1666  0.1666   0.1666         0.1666  0.167
29999  private_20000   0.1666   0.1666  0.1666   0.1666         0.1666  0.167

[30000 rows x 7 columns]

# 把預測結果跟範例檔案做合併

In [5]:
submit = pd.read_csv('submit.csv',index_col=0) 
sample_submit.iloc[:10000,:] = submit
sample_submit

,Filename,Barking,Howling,Crying,COSmoke,GlassBreaking,Other
0,public_00001,4.407526e-01,2.850462e-01,0.043792,2.623324e-02,4.182637e-02,1.623496e-01
1,public_00002,2.500015e-01,1.735318e-01,0.114773,9.577060e-02,1.089666e-01,2.569560e-01
2,public_00003,5.017121e-02,2.340894e-02,0.045589,2.524599e-02,6.841207e-01,1.714641e-01
3,public_00004,1.085350e-01,1.503731e-01,0.167216,1.399351e-01,2.168427e-01,2.170979e-01
4,public_00005,1.555968e-08,4.288752e-10,1.000000,2.020656e-07,3.386478e-09,7.945172e-08
...,...,...,...,...,...,...,...
29995,private_19996,1.666000e-01,1.666000e-01,0.166600,1.666000e-01,1.666000e-01,1.670000e-01
29996,private_19997,1.666000e-01,1.666000e-01,0.166600,1.666000e-01,1.666000e-01,1.670000e-01
29997,private_19998,1.666000e-01,1.666000e-01,0.166600,1.666000e-01,1.666000e-01,1.670000e-01
29998,private_19999,1.666000e-01,1.666000e-01,0.166600,1.666000e-01,1.666000e-01,1.670000e-01
29999,private_20000,1.666000e-01,1.666000e-01,0.166600,1.666000e-01,1.666000e-01,1.670000e-01

# 保存匯出

In [6]:
sample_submit.to_csv('submit.csv',index=False)